---
import BaseLayout from "@components/base/BaseLayout.astro";
import DocCard from "@components/docs/Card.astro";
import PageHeader from "@components/common/PageHeader.astro";
import Header from "@components/base/Header.astro";
import { render } from "astro:content";
import type { DocsEntry } from "@/types";
import { ClientRouter } from "astro:transitions";

interface Props {
  collectionIndex: DocsEntry;
  entries: DocsEntry[]; // this could either be the set of entries in a doc group, or the set of indices of the doc groups
}

const { collectionIndex, entries } = Astro.props;
const { Content, headings } = await render(collectionIndex);
---

<BaseLayout
  title={collectionIndex.data.title}
  image={collectionIndex.data.image?.src}
  description={collectionIndex.data.description}
>
  <Header />
  <PageHeader title={collectionIndex.data.title} />
  <section class="section docSection">
    <div class="container">
      
      <div class="row">
        {
          
          entries.map((entry) => (
            <div class="md:col-6 lg:col-4 h-min p-2">
              <DocCard entry={entry} />
            </div>
          ))
        }
      </div>
      
      
      <section class="content mb-4 glass px-4 rounded-lg">
        <Content />
      </section>
      
	  
	  
    </div>
  </section>
  <ClientRouter fallback="swap" />
</BaseLayout>