---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import { Image } from "astro:assets";
import type { AboutEntry } from "@/types";
import { render } from "astro:content";
import Button from "@components/common/Button.astro";
import Header from "@components/base/Header.astro";

interface Props {
  entry: AboutEntry;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const { Content } = await render(entry);
---

<BaseLayout title={title} description={description} image={image?.src}>
  <Header />
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="">
          <br>
          {
            image && (
              <Image
                class="map intersect:animate-fade mx-auto w-full rounded-lg"
                src={image}
                alt={imageAlt}
                width={3954}
                height={2763}
                loading="eager"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .map{
    margin-top: -5rem;
  }
</style>